html{
  box-sizing: border-box;
height: 100%;

}
*, *:before,*:after{
  /*significa HEREDAD el valor de box sizing de ARRIBA*/
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  font-family: arial,helvetica,sans-serif;
  /** degradado generado por la pagina colorzilla **/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e570e7+0,c85ec7+47,a849a3+100 */
  background: #e570e7; /* Old browsers */
  background: -moz-linear-gradient(left, #e570e7 0%, #c85ec7 47%, #a849a3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=1 ); /* IE6-9 */

  background-repeat: no-repeat;
  background-attachment: fixed;


}
header{
  text-align: center;
  padding: 20px 0;
}
.contenedor{
  margin: 0 auto;
  width: 800px;
}
div.hero img{
  width: 100%;
}
h2{
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: 30px 0 ;
}
ul.lista-productos{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.lista-productos li{
  float: left;
  width: 50%;
  padding: 20px;
  text-align: center;
}
/* lo siguiente intenta solucionar el espacio que dejan algunas imagenes*/
ul.lista-productos li:nth-child(2n+1){
   clear: both;
}
ul.lista-productos li img{
  /* encuadrar las imagenes con bordes*/
  border: 10px solid rgba(128,1,195,.45);
}
/* cuando el mouse pasa por encima de la imagen, configuramos border con HOVER*/
ul.lista-productos li img:hover{
  border: 10px solid rgba(128,1,195,1);
}
ul.lista-productos li p{

  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10px;

}
ul.lista-productos li p span{
  font-size: 40px;
  color: #ffce00;
}
.boton{
  background-color: #ffce00;
  padding: 10px 40px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(128,1,195,.8);
  font-size: 18px;
}
.boton:hover{
  color: rgba(128,1,195,1);
}
